*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: rgb(156, 53, 53);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(rgb(156, 53, 53),rgb(61, 53, 53));
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.escola-div-conteudo{
    width: 35%;
}